<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-A01793650/blob/main/Modulo4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('assignment01 for GitJobish03 and edited in git, and 18')

assignment01 for GitJobish03 and edited in git, and 18

**MÃ³dulo 4**

A01793650

*Lab - Writing Files*

Exercise

Your local university's Raptors fan club maintains a register of its active members on a .txt document. Every month they update the file by removing the members who are not active. You have been tasked with automating this with your Python skills. <br>
Given the file `currentMem`, Remove each member with a 'no' in their Active column. Keep track of each of the removed members and append them to the `exMem` file. Make sure that the format of the original files in preserved.   (*Hint: Do this by reading/writing whole lines and ensuring the header remains* ) <br>
Run the code block below prior to starting the exercise. The skeleton code has been provided for you. Edit only the `cleanFiles` function.

In [1]:
#Run this prior to starting the exercise
from random import randint as rnd

memReg = 'members.txt'
exReg = 'inactive.txt'
fee =('yes','no')

def genFiles(current,old):
    with open(current,'w+') as writefile: 
        writefile.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"

        for rowno in range(20):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[rnd(0,1)]))


    with open(old,'w+') as writefile: 
        writefile.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"
        for rowno in range(3):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[1]))


genFiles(memReg,exReg)

In [2]:
'''
The two arguments for this function are the files:
    - currentMem: File containing list of current members
    - exMem: File containing list of old members
    
    This function should remove all rows from currentMem containing 'no' 
    in the 'Active' column and appends them to exMem.
    '''
def cleanFiles(currentMem, exMem):
    
    # TODO: Open the currentMem file as in r+ mode
    with open(currentMem,'r+') as writeFile:
        #TODO: Open the exMem file in a+ mode
        with open(exMem,'a+') as appendFile:
          #TODO: Read each member in the currentMem (1 member per row) file into a list.
          #get the data
          writeFile.seek(0)
          members = writeFile.readlines()
          # Hint: Recall that the first line in the file is the header.
          #remove header
          header = members[0]
          members.pop(0)
          #TODO: iterate through the members and create a new list of the innactive members
          inactive = [member for member in members if ('no' in member)]
          # Go to the beginning of the currentMem file
          writeFile.seek(0) 
          writeFile.write(header)
          # TODO: Iterate through the members list. 
          for member in members:
              # If a member is inactive, add them to exMem, otherwise write them into currentMem
              if (member in inactive):
                  appendFile.write(member)
              else:
                  writeFile.write(member)      
          writeFile.truncate()
    pass # Remove this line when done implementation
# The code below is to help you view the files.
# Do not modify this code for this exercise.
memReg = 'members.txt'
exReg = 'inactive.txt'
cleanFiles(memReg,exReg)


headers = "Membership No  Date Joined  Active  \n"
with open(memReg,'r') as readFile:
    print("Active Members: \n\n")
    print(readFile.read())
    
with open(exReg,'r') as readFile:
    print("Inactive Members: \n\n")
    print(readFile.read())

Active Members:


Membership No  Date Joined  Active
    43137      2020-4-25    yes
    12250      2018-11-10   yes
    52602      2016-10-9    yes
    21500      2020-2-8     yes
    97029      2015-1-11    yes
    30010      2016-10-17   yes
    94821      2017-11-15   yes
    95656      2015-12-18   yes

Inactive Members:


Membership No  Date Joined  Active
    74492      2019-11-16   no
    71250      2016-4-22    no
    44963      2018-7-5     no
    27307      2015-2-8     no
    80254      2018-9-22    no
    43598      2019-12-6    no
    81728      2018-9-4     no
    94660      2020-10-16   no
    15305      2016-11-2    no
    33842      2018-9-2     no
    46514      2019-3-22    no
    62833      2015-8-5     no
    40105      2016-4-16    no
    63758      2020-9-5     no
    29550      2019-5-14    no

**Get to Know a Pandas Array**

You will use the dataframe df for the following:

In [28]:
import pandas as pd

df=pd.DataFrame({'a':[11,21,31],'b':[21,22,23]})

Display the first three rows:

In [29]:
df.head()

    a   b
0  11  21
1  21  22
2  31  23

Obtain column  'a' :

In [5]:
df['a']

0    11
1    21
2    31
Name: a, dtype: int64

**QUIZ**

1. Will the following code run?

import pandas as banana

df=banana.DataFrame({'a':[11,21,31],'b':[21,22,23]})

df.head()

In [12]:

import pandas as banana

df=banana.DataFrame({'a':[11,21,31],'b':[21,22,23]})

df.head()

    a   b
0  11  21
1  21  22
2  31  23

Yes

*Lab - Working with and Saving Data with Pandas*

You will use the dataframe df for the following:

In [15]:
import pandas as pd

df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})

Find the unique values in column  'a' :

In [16]:
df['a'].unique()

array([1, 2])

Return a dataframe with only the rows where column  a  is less than two:

In [17]:
df[df['a']<2]

   a  b
0  1  1
2  1  1

**Quiz**

Consider the dataframe: df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})

What type does the following return: df['a']==1 ?

In [18]:
df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})

In [19]:
df['a']==1

0     True
1    False
2     True
Name: a, dtype: bool

Bool

What task does the following method perform: df.to_csv("file.csv")?

Save a dataframe to a csv file.

What do the following lines of code do?

with open("Example1.txt","r") as file1:

FileContent=file1.readlines()

print(FileContent)

**Read the file "Example1.txt"**

What do the following lines of code do?

with open("Example2.txt","w") as writefile:

writefile.write("This is line A\n")

writefile.write("This is line B\n")

**Write to the file "Example2.txt"**

What do the following lines of code do?

with open("Example3.txt","a") as file1:

file1.write("This is line C\n")
**Append the file "Example3.txt"**

What is the result of applying the following method df.head() to the dataframe "df"?
**Prints the first 5 rows of the dataframe.**