<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-A01793650/blob/main/IBM02/Modulo1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **MÃ³dulo 1**

A01793650

In [1]:
import numpy as np

#*Quiz*
What is the result of the following operation: np.array([1,-1])*np.array([1,1])?

In [ ]:
for n in range(3):
  print(n)

0
1
2

What does the following loop print?

for n in range(3):

print(n+1)

In [ ]:
for n in range(3):
  print(n+1)

1
2
3

What is the output of the following few lines of code ?

A=['1','2','3']

for a in A:

print(2*a)

In [ ]:
A=['1','2','3']

for a in A:
  print(2*a)

11
22
33

Consider the function add, what is the result of calling the following Add('1','1') (look closely at the return statement )

def Add(x,y):

z=y+x

return(y)

In [ ]:
def Add(x,y):
  z=y+x
  return(y)
Add('1','1')

'1'

Consider the class Points, what are the data attributes:

class Points(object):

def __init__(self,x,y):

self.x=x

self.y=y

def print_point(self):

print('x=',self.x,'y=',self.y)

In [ ]:
class Points(object):

  def init(self,x,y):
    self.x=x
    self.y=y

  def print_point(self):
    print('x=',self.x,'y=',self.y)

What is the result of running the following lines of code ?
class Points(object):

def __init__(self,x,y):

self.x=x

self.y=y

def print_point(self):

print('x=',self.x,' y=',self.y)

p1=Points(1,2)

p1.print_point()

In [ ]:
class Points(object):

  def __init__(self,x,y):
    self.x=x
    self.y=y

  def print_point(self):
    print('x=',self.x,' y=',self.y)

p1=Points(1,2)

p1.print_point()

x= 1  y= 2

What is the result of running the following lines of code ?

class Points(object):

def __init__(self,x,y):

self.x=x

self.y=y

def print_point(self):

print('x=',self.x,' y=',self.y)

p2=Points(1,2)

p2.x=2

p2.print_point()

In [ ]:
class Points(object):

  def __init__(self,x,y):

    self.x=x

    self.y=y

  def print_point(self):

    print('x=',self.x,' y=',self.y)

p2=Points(1,2)

p2.x=2

p2.print_point()

x= 2  y= 2